.countdown__grid {
  width: calc(var(--digit-font-size, 16) * 1.75);
  height: calc(var(--digit-font-size, 16) * 1.75);
  line-height: calc(var(--digit-font-size, 16) * 1.75);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  position: relative;

  div {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
  }
}

.countdown__divider {
  color: var(--text-color, $color-gray-10);
  display: inline;
  margin: 0 4px;
}

.countdown--hide {
  display: none;
}
